extends layout.pug

block içerik
    section#content
        ul
        // // Loop örneği (01) 
        //-
            each color in renkler
                li= color
        h2= soru
        if hint
            p
                i Hint: #{hint}
        // bu hizaya "else" kısmı uygulanabilir, alternatif içerik için