extends layout.pug

block içerik
    section#content
        ul
        // // Loop örneği (01) 
        //-
            each color in renkler
                li= color
        h2= sorucevapMetni
        if ipucu
            p
                i İpucu: #{ipucu}
        // bu hizaya "else" kısmı uygulanabilir, alternatif içerik için