extends layout.pug

block içerik
    section#content
        h2 Hoşgeldin #{isim}!
        form(action='/goodbye', method='post') 
            button(type="submit") Veda zamanı
        p
            a(href='/cards') Haydi başlayalım